.next
node_modules
coverage
playwright-report
test-results
*.log
dist
.DS_Store
tsconfig.tsbuildinfo
.env
.env.local
.env.*.local
.qwen/
.lighthouseci/
public/test-photo.png

*storybook.log
storybook-static
